<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795323605749-0k6ta67p30lf7jq0jp5694m244cfj4ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795323605749-0k6ta67p30lf7jq0jp5694m244cfj4ep</string>
	<key>API_KEY</key>
	<string>AIzaSyAFOvoFtUxWU353wSJQVaFsf4HmKtvuBj4</string>
	<key>GCM_SENDER_ID</key>
	<string>795323605749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melih.test1.MediSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>meditasyon2-c6f3a</string>
	<key>STORAGE_BUCKET</key>
	<string>meditasyon2-c6f3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795323605749:ios:3a41a297da2e151b79dbbc</string>
</dict>
</plist>